header h1{
    font-family: Optima, sans-serif;
    margin-bottom: 0px;
    text-align: center;
}

div.Card{
    align-items: center;
    border: 5px lightskyblue;
}
div.Card h2.name{
    font-family: Optima, sans-serif;
}

div.Card p.other{
    font-family: Optima, serif;
}
a.delete{
    color:lightskyblue;
}
a.Card{
    font-family: Optima, serif;
}


div.moreDetail{
    font-family: Optima, serif;
    text-align: left;
}
div.Card span{
    color: lightskyblue;
}
footer{
    font-family: Optima, sans-serif;
}
